@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
   
body {
  font-family: 'Exo 2', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Exo 2', sans-serif;
}
.skip-link{
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 100px;
}   
   
/* AppBar */
   
.app-bar {
  padding: 8px 16px;
  background-color: #2B4865;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
   
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
   
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
}
   
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
   
.app-bar .app-bar__brand h1 {
  color: #ffffff;
  font-size: 22px;
  user-select: none;
}
   
.app-bar .app-bar__navigation {
  position: absolute;
  font-size: 25px;
  top: 50px;
  left: -180px;
  width: 210px;
  transition: cubic-bezier(1, 0.19, 0.46, 0.99) 0.5s;
  padding: 8px;
  overflow: hidden;
}
   
.app-bar .app-bar__navigation.open {
  left: 0;
  background-color: #2B4865;
  transition: cubic-bezier(1, 0.19, 0.46, 0.99) 0.5s;
}
   
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}
.app-bar .app-bar__navigation ul li a:hover{
  color: #2B4865;
  border: 1px solid #ffffff;
  background-color: aliceblue;
  border-radius: 3px;
  transition: 0.4s;
}
.brand{
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 10px 0 10px 0;
}
/* hero */
.hero {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 350px;
  justify-content: center;
  text-align: center;
  color: rgb(255, 247, 247);
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/images/heros/hero-image_2-large.jpg);
  background-size: cover;
  background-position: top;
}
.hero h1 {
  margin-bottom: 0.5em;
  font-size: 40px;
}
.hero p {
  font-size: 1.5em;
}
/* Main Content */
.sub-judul{
  margin: 1.5em 0em 0.5em 0em;
  text-align: center;
  align-self: center;
  font-size: 2.1em;
}
.favorite {
  padding-bottom: 15px;
}
.detail-sj{
  text-align: center;
  align-self: center;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
   
main {
  padding: 32px;
  flex: 1;
}
   
.content {
  margin: 0 auto;
  min-height: 100%;
}
   
.content .content__heading {
  font-weight: normal;
}  
   
/* Restaurant */
   
.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
   
   
/* Restaurant Item */
   
.restaurant-item {
  width: 100%;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
   
.restaurant-item__header {
  position: relative;
}
   
.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
  min-height: 250px;
}
   
.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  top: 40px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
   
.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}
   
.restaurant-item .restaurant-item__content {
  padding: 16px;
}
   
.restaurant-item-content__name {
  margin: 0 0 10px 0;
}
   
.restaurant-item-content__name a {
  color: #002B5B;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 10px 10px 5px;
}
.restaurant-item-content__name a:hover {
  color: #2666b0;
  transition: 0.4s;
}
.restaurant-item-content__city{
  margin: 0 0 10px 0;
}
.restaurant-item-content__description {
  overflow: hidden;
  font-size: 14.5px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* number of lines to show */
  -webkit-box-orient: vertical;
}
   
   
/* Restaurants */
   
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
   
.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}
   
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}
/* like */
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #256D85;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}
/* Review */
.review h3{
  padding-bottom: 8px;
}
.reviewer_name{
  color: #00234b;
  padding-bottom: 4px;
}
.reviewer_comment{
  font-size: 16px;
}
.reviewer_date{
  font-size: 14px;
  color: gray;
}
/* footer */
footer {
    padding: 16px;
    background-color: #2B4865;
}
   
footer p {
    text-align: center;
    color: #ffffff;
}
   
footer p a {
    color: #ffffff;
    text-decoration: none;
}
  